.info-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;

  &__item {
    padding: 7rem 3rem;
    background-color: rgba(1, 70, 190, 0.5);
    border: 2px solid rgba(1, 70, 190);
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;

    &_medium {
      grid-column: span 6;
    }

    &_big {
      grid-column: span 12;
    }
  }
}

.event {
  &__info {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(1, 70, 190, 0.5);
  }

  &__thumb {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }
}

.latest-events {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: flex-start;
  gap: 2rem;
  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    max-width: 500px;
    cursor: pointer;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__thumb {
    width: 100%;
    display: flex;
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      transition: 0.3s all;
    }
  }

  &__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__title {
    flex-grow: 1;
    font-size: 3rem;
  }
}

// datepicker styles

.modal-enter .modal__wrapper {
  top: 0;
  transform: translate(-50%, -100%);
}
.modal-enter-active .modal__wrapper {
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-exit .modal__wrapper {
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-exit-active .modal__wrapper {
  top: 0;
  transform: translate(-50%, -100%);
}

.datepicker__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.datepicker__close {
  align-self: flex-end;
}

@media (max-width: 767px) {
  .info-block {
    &__item {
      &_medium {
        grid-column: span 12;
      }
    }
  }
}