.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: hsla(0, 0%, 0%, 0.5);

  &_opened {
    display: block;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 0.3s all;
    background-color: #fff;
    color: #000;

    &_shown {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}